header {
display: flex;
align-items: center;
column-gap: 300px;

width: 100%;
max-width: 1440px;
padding: top 24px;
}

header img{
    width: 180px;
    height: auto;
    
}

.navegação{
    display: flex;
    align-items: center;
    column-gap: 110px;
    list-style: none;
}

.link_navegaçao{
    font-family: Dela Gothic One;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(3, 3, 3);
    
}

.link_navegaçao:hover{
    color: rgba(95, 93, 93, 0.842);
}

